// 通用元件(Navbar、Footer等)

// Navbar
.navbar {
    background-color: $lightGreen;
    margin-bottom: 30px;
}

/* 要將這三個css都修改樣式才會有變化 */
.navbar-light .navbar-nav .nav-link {
    color: $white;
}

.navbar-brand {
    color: $white;
    &:hover {
        color: $darkGreen;
        transition: 0.3s;
    }
}

.nav-link {
    font-weight: normal;
    &:hover {
        text-decoration: underline;
        text-underline-offset: 2.5px;
    }
}

// Footer
footer {
    color: $white;
    background-color: $lightGreen;
    text-align: center;
    padding: 8px;
}


// 共通屬性(同樣設計的元素在專案中出現多次，例如表格、按鈕等，用前綴詞將class名稱區分)

// HomeView、TestingView、ResultView、HistoryView
.l-button {
    width: $btnWidth;
    padding: $btnHeight 0;
    color: $white;
    background-color: $lightBrown;
    text-align: center; 
    margin: 45px auto 30px auto;
    &:hover {
        background-color: $darkBrown;
        transition: 0.3s;
        cursor: pointer;
    }
}

// HomeView、TestingView
.l-message {
    color: $alertRed;
    text-align: center;
}

// ResultView、HistoryView
.l-area-block {
    width: $blockWidth;
    border: solid 1px $lightBrown;
    margin: 0 auto 30px auto;
    padding: 0; /* 清除預設css */
}

// ResultView、HistoryView
.l-area-title {
    color: $white;
    background-color: $lightBrown;
    font-size: 26px;
    text-align: center;
    padding: 15px 0;
}

// ResultView、HistoryView
.l-player-message {
    color: $darkGreen;
    font-size: 22px;
    text-align: center;
    margin: 30px 0;
}

@media screen and (max-width: 520px) {
    .l-player-message {
        font-size: 19px;
    }
}

// ResultTable、HistoryDetails
.l-table {
    // 為了讓表格的RWD更彈性，調整成使用Bootstrap中的Sizing類別
    margin: 0 auto;
}

// ResultTable、HistoryDetails
.l-correct-mark {
    color: $correctGreen;
}

// ResultTable、HistoryDetails
.l-incorrect-mark {
    color: $falseRed;
}
