$white: white;
$black: black;
$lightYellow: #FEFAE0;
$darkYellow: #FFF4AD;
$lightBrown: #DDA15E;
$darkBrown: #BC6C25;
$lightGreen: #606C38;
$darkGreen: #283618;
$correctGreen: #78C764;
$falseRed: #FF5858;
$alertRed: red;