@import "variables";
@import "layout";

.zero-record-situation {
    margin: 250px 0;
}

.history-img {
    width: $boxWidth * 1.5;
    height: $boxHeight * 0.8;
    margin: 30px auto 0 auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    };
}

@media screen and (max-width: 992px) {
    .history-img {
        width: $boxWidth * 1.2;
    }
}

@media screen and (max-width: 768px) {
    .history-img {
        width: $boxWidth * 0.75;
    }
}

@media screen and (max-width: 520px) {
    .history-img {
        width: $boxWidth * 0.4;
        height: $boxHeight * 0.4;
    };
}