// 引入統一管理CSS變數的檔案做合併
@import "variables";

.navbar {
    background-color: $lightGreen;
    margin-bottom: 30px;
}

/* 要將這三個css都修改樣式才會有變化 */
.navbar-light .navbar-nav .nav-link {
    color: $white;
}

.navbar-brand {
    color: $white;
    &:hover {
        color: $darkGreen;
        transition: 0.3s;
    }
}

.nav-link {
    font-weight: normal;
    &:hover {
        text-decoration: underline;
        text-underline-offset: 2.5px;
    }
}