@import "variables";
@import "layout";
// @import "module";

.question-order {
    width: 60px;
    height: 60px;
    color: $white;
    background-color: $lightBrown;
    font-size: 20px;
    border-radius: 50%;
    display: flex; // 在div內直接使用文字也可利用flex置中
    justify-content: center;
    align-items: center;
    margin: 50px auto 25px auto;
}

.question-title {
    color: $darkGreen;
    font-size: 25px;
}

.rest-time {
    color: $alertRed;
}